* {
    margin: 0;
    padding: 0;
}

.logo-text {
    font-family: 'Hanken Grotesk', sans-serif;
}


/* .featured-section {
    height: 200px;
}
*/


/* .featured-card {
    height: 40vh;
}
*/

.purple-image {
    height: 40vh;
}

.neutral-heading {
    margin: 10px 0 15px 0;
    width: 120px;
    padding: 2%;
    background-color: rgba(119, 119, 112, 0.129);
    font-weight: 200;
    border-radius: 10%;
    text-align: center;
}

.neutral-paragraph {
    font-size: 30px;
}

.recent-post-images {
    border-radius: 5% 5% 0 0;
}

.recent-post-cards {
    border-radius: 5% 5% 0 0;
}

.monthly-post {
    background-color: black;
    margin-top: 5rem;
}

.monthly-post-paragraphs {
    font-size: 2rem;
}

.monthly-post-form {
    width: fit-content;
}

.footer-bedrok {
    font-size: 35px;
    font-weight: bold;
}

.copyright {
    margin: 100px 0 0 0;
    font-size: 13px;
}

footer h3 {
    font-size: 20px;
    margin: 0 0 20px 0;
}