* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.logo-text {
    font-family: 'Hanken Grotesk', sans-serif;
}


/* .featured-section {
    height: 200px;
}
*/


/* .featured-card {
    height: 40vh;
}
*/

.purple-image {
    height: 40vh;
}

.neutral-heading {
    margin: 10px 0 15px 0;
    width: 120px;
    padding: 2%;
    background-color: rgba(119, 119, 112, 0.129);
    font-weight: 200;
    border-radius: 10%;
    text-align: center;
}

.neutral-paragraph {
    font-size: 40px;
}

.recent-post-images {
    border-radius: 5% 5% 0 0;
}

.recent-post-cards {
    border-radius: 5% 5% 0 0;
}

.monthly-post {
    background-color: black;
    margin-top: 5rem;
}

.monthly-post-paragraphs {
    font-size: 2rem;
}

.monthly-post-form {
    width: fit-content;
}

.footer-bedrok {
    font-size: 35px;
    font-weight: bold;
}

.copyright {
    margin: 100px 0 0 0;
    font-size: 13px;
}

footer h3 {
    font-size: 20px;
    margin: 0 0 20px 0;
}


/* about personal styles */

.bio-container {
    margin: auto;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(./about/aboutImages/aboutImage1.jpeg);
    background-size: cover;
    background-color: black;
    /* background-blend-mode: ; */
    height: 700px;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.bio-row {
    margin-top: 120px;
    margin-bottom: 120px;
}


/* Contact styles goes below */

.contact-button {
    gap: 20px;
}

.contact-button button {
    width: 100%;
}

hr {
    margin: 150px 0 0 0;
}